html, body, .block {
  height: 100%;
  margin: 0;
}
.full{
  width: 100%;
}
nav {
    background-color: rgba(0, 0, 0, 0);
    .nav-wrapper {
      border-bottom: 2px solid #6cc3c8;
    }
    .img-logo{
      width: 120px;
    }
    .img-icon{
      width: 40px;
      margin-top: 12px;
    }
    ul{
      li{
        padding: 0px 2.5%;
        .nav-img{
          padding: 0 5px;
        }
        a {
        font-size: 18px;
        float: left;
        }
        a:hover {
          color: #ed1c24;
        }
      }
    }
}
input#search[type="text"] {
    width: 160px;
    box-sizing: border-box;
    border-radius: 2px;
    font-size: 16px;
    background-color: white;
    color: #000;
    background-image: url('../image/search.png');
    background-position: 10px 12px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width .4s ease-in-out;
    transition: width .4s ease-in-out;
    box-shadow: 1px 2px 2px #717171;
}
#HOME {
  background-image: url('../image/homebg.jpg');
  background-size: cover;
  margin-top: -64px;
  padding-top: 8%;
}
// #red {
//   background-image: url('../image/homebg.jpg');
//   background-size: cover;
// }
